<h1>Necessidade</h1>
<table>
  <tr>
    <td><strong>Título</td><td class="px-2">:</td><td></strong><%=@need.title%></td>
  </tr>
  <tr>
    <td><strong>Descrição</td><td class="px-2">:</td><td></strong><%=@need.description%></td>
  </tr>
  <tr>
    <td><strong>Endereço</td><td class="px-2">:</td><td></strong><%=@need.address%></td>
  </tr>
  <tr>
    <td><strong>Despacho</td><td class="px-2">:</td><td></strong><%=@need.verdict%></td>
  </tr>
  <tr>
    <td><strong>Status</td><td class="px-2">:</td><td></strong><%=@need.status%></td>
  </tr>
  <tr>
    <td><strong>Data Limite:</td><td class="px-2">:</td><td></strong><%=@need.deadline%></td>
  </tr>
</table>


<% if current_user.government && (!['inativa', 'concluída'].include?(@need.status))%>
  <%= link_to 'Inativar necessidade', need_path(@need),  method: :delete,  class: 'btn btn-primary' %>
<% end %>


<div class="mt-4 pt-2 mb-3">
  <% if current_user.government %>
    <h3>Propostas Vinculadas</h3>
    <div>
      <div class="row">
        <div class="col-lg-2">
          <strong>Valor (R$)</strong>
        </div>
        <div class="col-lg-2">
          <strong>Autor</strong>
        </div>
        <div class="col-lg-8">
          <strong>Descrição</strong>
        </div>
      </div>
      <% @proposals.each do |proposal| %>
        <div class="row">
          <div class="col-lg-2">
            <%= proposal.value %>
          </div>
          <div class="col-lg-2">
            <%= proposal.user.name %>
          </div>
          <div class="col-lg-8">
            <%= proposal.description %>
          </div>
        </div>
      <% end %>
    </div>

  <% else %>

    <% if @proposal.id.nil? %>
      <h3>Nova Proposta</h3>
      <%= simple_form_for([@need, @proposal]) do |f| %>
        <%= f.input :value, label: 'Valor (R$): ' %>
        <%= f.input :description, label: 'Descrição', hint: 'Detalhes específicos da proposta.'%>
        <%= f.submit %>
      <% end %>
    <% else %>
      <!-- If a proposal was already made by the user -->

      <h3>Proposta Efetuada</h3>

      <p><strong>Valor R$ : </strong> <%= @proposal.value %></p>
      <p><strong>Descrição: </strong> <%= @proposal.description %></p>

      <%= simple_form_for(@proposal) do |f| %>
        <%= f.input :value, label: 'Valor (R$): ', disabled: true %>
        <%= f.input :description, label: 'Descrição', disabled: true, hint: 'Detalhes específicos da proposta.'%>
        <div class="btn btn-secondary mr-1" id="edit-button"> Editar Proposta </div>
        <%= f.submit disabled: true, class:"btn btn-secondary mr-1", id: "btn-update"%>
      <% end %>
    <% end %>
  <% end %>
</div>




