<div class="display-group-square-rfb mb-5">
  <!------------------------------------------ DETAIL SECTION --------------------------------------------->
  <h3>Detalhes da Necessidade</h3>
  <div>
    <div class="row my-1">
      <div class="col-1 d-flex justify-content-between pr-0">
        <label>Título:</label>
      </div>

      <div class="col-lg-8">
        <p> <%= @need.title %>"</p>
      </div>
      <div class="col-lg-3 px-2 reduce-ml-on-shrink" style="min-width: 247px; max-width: 247px; margin-left: 19px;">
        <label>Status:</label>
        <p> <%= @need.status %></p>
      </div>
    </div>

    <div class="row my-1">
      <div class="col-lg-1">
        <label>Endreço:</label>
      </div>
      <div class="col-lg-7">
        <p> <%= @need.address %> </p>
      </div>
      <div class="col-lg-4 px-2 reduce-ml-on-shrink" style="margin-left: 31px; max-width: 326px; min-width: 326px;">
        <label>Prazo Propostas: </label>
        <p> <%= @need.deadline.strftime("%D%y, %Hh%M") %> </p>
      </div>

    </div>

    <div class="row my-1">
      <div class="col-lg-12">
        <label>Descrição : </label>
        <textarea class="form-control" rows="3" disabled><%= @need.description %></textarea>
      </div>
    </div>

    <div class="row my-1 mb-3">
      <div class="col-lg-12">
        <label>Despacho : </label>
        <textarea id="needs-show-verdict" class="form-control" rows="3" disabled><%= @need.verdict %></textarea>
      </div >
    </div>

    <!----------------------------------------- BUTTONS  SECTION ---------------------------------------------------->
    <% if current_user.government%>
      <div class="row mb-3">
        <div class="col-lg-12 d-flex justify-content-between">
          <div>
            <%# if status is inativa or concluída, the buttons should be disabled%>
            <%if(['inativa', 'concluída'].include?(@need.status)) %>
              <input id="btn-judge" type="submit" class="btn-text-blue-rfb" style="width: 138px;" value="Julgar" disabled>
              <button class="btn-text-blue-rfb ml-0" disabled >
                Desativar
              </button>
            <% else %>
              <input id="btn-judge" type="submit" class="btn-text-blue-rfb" style="width: 138px;" value="Julgar">
              <button class="btn-text-blue-rfb ml-0" id="needs-show-deactivate-button">
                <%= link_to 'Desativar', need_path(@need),  method: :delete, style: 'width: 138px;'%>
              </button>
            <% end %>
          </div>
          <div>
            <!-- <form method="PATCH" action="/needs/<%= @need.id %>/judge" style="display: inline-block;"> -->
            <button id="needs-show-save-button" type="button" class="btn-text-blue-rfb" style="width: 138px;" disabled>salvar</button>
            <!-- executed through javascript when data is filled -->
            <%= link_to "Salvar", judge_need_path(:judgement => { :verdict => :v1, :winner_proposal_id => :v2 }), method: "PATCH", id: "needs-show-save-link", style:"display: none" %>
            <input type="hidden" name="verdict">
            <!-- </form> -->
            <button id="needs-show-cancel-button" class="btn-text-blue-rfb" style="width: 138px;" disabled>Cancelar</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <!------------------------------------------ PROPOSAL SECTION --------------------------------------------->
  <div class="display-group-square-rfb">

    <% if current_user.government || ['inativa', 'concluída'].include?(@need.status) %>
      <h3>Propostas Vinculadas</h3>
      <div>
        <div class="row">
          <div class="col-lg-2">
            <label>Valor (R$)</label>
          </div>
          <div class="col-lg-2">
            <label>Autor</label>
          </div>
          <div class="col-lg-7">
            <label>Descrição</label>
          </div>
          <div class="col-lg-1 text-center">
            <label>Venc.</label>
          </div>
        </div>
        <% @proposals.each do |proposal| %>
          <div class="row">
            <div class="col-lg-2">
              <p><%= number_with_precision(proposal.value, delimiter: '.', separator: ',', precision: 2, strip_insignificant_zeros: false) %></p>
            </div>
            <div class="col-lg-2">
              <p><%= proposal.user.name %></p>
            </div>
            <div class="col-lg-7">
              <p><%= proposal.description %></p>
            </div>
            <div class="col-lg-1 text-center">
               <input class="form-check-input mx-auto" type="radio" name="winner" value="<%=proposal.id%>" disabled
                <%= 'checked="true"' if proposal.winner%> %>>
            </div>
          </div>
        <% end %>
      </div>

    <% else %>

      <% if @proposal.id.nil? %>
        <h3>Nova Proposta</h3>
        <%= simple_form_for([@need, @proposal]) do |f| %>
          <%= f.input :value, label: 'Valor (R$): ' %>
          <%= f.input :description, label: 'Descrição', hint: 'Detalhes específicos da proposta.'%>
          <%= f.submit %>
        <% end %>
      <% else %>
        <!-- If a proposal was already made by the user -->

        <h3>Proposta Enviada</h3>

        <%= simple_form_for(@proposal) do |f| %>
          <%= f.input :value, label: 'Valor (R$): ', disabled: true, :data => {:mask=> '9,999.00'} %>
          <%= f.input :description, label: 'Descrição', disabled: true, hint: 'Detalhes específicos da proposta.'%>
          <div class="btn-text-lightblue-rfb mr-1" id="edit-button" style="width: 209px;"> Editar Proposta </div>
          <%= f.submit "Atualizar Proposta", disabled: true, class:"btn-text-blue-rfb mr-1", id: "btn-update", style: "width: 209px;"%>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
