<div class="display-group-square-rfb">
  <h3 class="display-group-header-rfb">Detalhes da Necessidade</h3>
  <div>
    <div class="row my-1">
      <div class="col-lg-10">
        <strong>Título: </strong> <input type="text" value=<%= @need.title %> disabled>
      </div>
      <div class="col-lg-2 text-right">
        <strong>Status: </strong> <input type="text" value="<%= @need.status %>" disabled>
      </div>
    </div>

    <div class="row my-1">
      <div class="col-lg-8">
        <strong>Endreço : </strong> <input type="text" value="<%= @need.address %>" disabled>
      </div>
      <div class="col-lg-4 text-right">
        <strong>Prazo Propostas: </strong> <input type="text" value="<%= @need.deadline.strftime("%D%y, %Hh%M") %>">
      </div>
    </div>

    <div class="row my-1">
      <div class="col-lg-12">
        <strong>Descrição : </strong>
        <textarea class="form-control" rows="3" disabled> <%= @need.description %> </textarea>
      </div>
    </div>

    <div class="row my-1">
      <div class="col-lg-12">
        <strong>Despacho : </strong>
         <textarea class="form-control" rows="3" disabled>
          <%= @need.verdict %>
        </textarea>
      </div>
    </div>

    <div class="row"></div>

    <div class="row">
      <div class="col-lg-4">
        <% if current_user.government && (!['inativa', 'concluída'].include?(@need.status))%>
          <%= link_to 'Inativar necessidade', need_path(@need),  method: :delete,  class: 'btn-text-blue-rfb' %>
        <% end %>
      </div>
    </div>
  </div>

</div>




<div class="mt-4 pt-2 mb-3">
  <% if current_user.government %>
    <h3>Propostas Vinculadas</h3>
    <div>
      <div class="row">
        <div class="col-lg-2">
          <strong>Valor (R$)</strong>
        </div>
        <div class="col-lg-2">
          <strong>Autor</strong>
        </div>
        <div class="col-lg-8">
          <strong>Descrição</strong>
        </div>
      </div>
      <% @proposals.each do |proposal| %>
        <div class="row">
          <div class="col-lg-2">
            <%= proposal.value %>
          </div>
          <div class="col-lg-2">
            <%= proposal.user.name %>
          </div>
          <div class="col-lg-8">
            <%= proposal.description %>
          </div>
        </div>
      <% end %>
    </div>

  <% else %>

    <% if @proposal.id.nil? %>
      <h3>Nova Proposta</h3>
      <%= simple_form_for([@need, @proposal]) do |f| %>
        <%= f.input :value, label: 'Valor (R$): ' %>
        <%= f.input :description, label: 'Descrição', hint: 'Detalhes específicos da proposta.'%>
        <%= f.submit %>
      <% end %>
    <% else %>
      <!-- If a proposal was already made by the user -->

      <h3>Proposta Efetuada</h3>

      <p><strong>Valor R$ : </strong> <%= @proposal.value %></p>
      <p><strong>Descrição: </strong> <%= @proposal.description %></p>

      <%= simple_form_for(@proposal) do |f| %>
        <%= f.input :value, label: 'Valor (R$): ', disabled: true %>
        <%= f.input :description, label: 'Descrição', disabled: true, hint: 'Detalhes específicos da proposta.'%>
        <div class="btn btn-secondary mr-1" id="edit-button"> Editar Proposta </div>
        <%= f.submit disabled: true, class:"btn btn-secondary mr-1", id: "btn-update"%>
      <% end %>
    <% end %>
  <% end %>
</div>




