<!DOCTYPE html>
<html>
  <head>
    <title>Dispensa Licitação</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbarRFB' %> <%#= render 'shared/navbar' %>

    <%= render 'shared/flashes' %>


    <!--se for a action home do controller pages
     o yield fica dentro do div com classe home-image
     assim o banner não tem as propriedades de um container aplicadas
     alteração feita conforme orientações de TA-->

    <% if params[:action] == 'home' %>
      <div id="main-wrapper">
        <div class="home-image">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div id="main-wrapper">
        <div class="container container-margin-top">
          <%= yield %>
        </div>
      </div>
    <% end %>


    <%= render 'shared/footerRFB' %><%# <%= render 'shared/footer' %>
  </body>
</html>
